
body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8;
}

.login-card {
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 900px;
}

.input-field {
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.75rem 1rem;
    width: 100%;
}

.login-section {
    border-radius: 1.5rem;
}
.main-container {
    background-image: url("assets/background\ image.jpg");
    background-size:cover;
    background-position: center;
}
